import(methods)
import(BiocGenerics)
import(seqinr)
import(BSgenome.Drerio.UCSC.danRer7)
import(GenomicRanges)
import(e1071)
import(BSgenome)
exportClasses("modelInfo", "PASclassifier", "featureVector")
exportMethods("$", "$<-")
export(BED2GRangesSeq, 
       getUpstreamSequence, 
       getDownstreamSequence, 
       buildFeatureVector, 
       predictTestSet, 
       buildClassifier)
