import(BiocGenerics)
import(seqinr)
import(BSgenome.Drerio.UCSC.danRer7)
import(GenomicRanges)
import(e1071)
import(BSgenome)

export(BED2GRangesSeq, getUpstreamSequence, getDownstreamSequence, buildFeatureVector, predictTestSet)
