importFrom("stats", "as.formula", "predict")
importFrom("utils", "write.table")
import(methods)
import(BiocGenerics)
import(seqinr)
import(IRanges)
import(GenomicRanges)
import(e1071)
importFrom(GenomeInfoDb, "seqlengths")
import(BSgenome)
exportClasses("modelInfo", "PASclassifier", "featureVector")
exportMethods("$", "$<-")
export(BED2GRangesSeq, 
       getUpstreamSequence, 
       getDownstreamSequence, 
       buildFeatureVector, 
       predictTestSet, 
       buildClassifier)
